
body > div{
    background-image: url('../images/bg.png');
    background-position: center;
    background-size: cover;
    resize: none;
    color: white;
}
.tarot{
    width: 150px;
    height: 200px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    position: relative;
    transition: all .2s ease-in-out;
}
.tarot:hover{
    z-index: 1;
    transform: scale(1.3);
    box-shadow: 0px 0px 20px #fff;
    filter: brightness(1.75);

}
.tarot7{
    left: -150px;
}
.tarot6{
    left: -100px;
}
.tarot5{
    left: -50px;
}
.tarot4{
    left: 0px;
}
.tarot3{
    left: 50px;
}
.tarot2{
    left: 100px;
}
.tarot1{
    left: 150px;
}

.tarotContainer{
    width: auto;
}